/* 
--------------------------------
UNIVERSAL STYLES 
--------------------------------*/

* {
    box-sizing: border-box;
}

.nav-links {
    font-family: 'Fredoka One', cursive;
}

.wrapper {
    max-width: 1024px;
}

body {
    font-family: 'Signika Negative', sans-serif;
}



/* 
--------------------------------

--------------------------------*/











/* 
--------------------------------

--------------------------------*/
















/* 
--------------------------------

--------------------------------*/











/* 
--------------------------------
Media Queries
--------------------------------*/