/* 
--------------------------------
UNIVERSAL STYLES 
--------------------------------*/


* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1024px;
}

/* Fonts */

body {
    font-family: 'Signika Negative', sans-serif;
}

.nav-links {
    font-family: 'Fredoka One', cursive;
}


/* 
--------------------------------
Profile Section
--------------------------------*/





/* 
--------------------------------
Portfolio Section
--------------------------------*/





/* 
--------------------------------
Extra Section
--------------------------------*/






/* 
--------------------------------
Contact Section
--------------------------------*/






/* 
--------------------------------
Media Queries
--------------------------------*/